@font-face {
    font-family: 'Antonio';
    src: url('fonts/Antonio-Regular.eot');
    src: url('fonts/Antonio-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/Antonio-Regular.woff2') format('woff2'), url('fonts/Antonio-Regular.woff') format('woff'), url('fonts/Antonio-Regular.ttf') format('truetype'), url('fonts/Antonio-Regular.svg#Antonio-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Antonio';
    src: url('fonts/Antonio-Light.eot');
    src: url('fonts/Antonio-Light.eot?#iefix') format('embedded-opentype'), url('fonts/Antonio-Light.woff2') format('woff2'), url('fonts/Antonio-Light.woff') format('woff'), url('fonts/Antonio-Light.ttf') format('truetype'), url('fonts/Antonio-Light.svg#Antonio-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Antonio';
    src: url('fonts/Antonio-Bold.eot');
    src: url('fonts/Antonio-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/Antonio-Bold.woff2') format('woff2'), url('fonts/Antonio-Bold.woff') format('woff'), url('fonts/Antonio-Bold.ttf') format('truetype'), url('fonts/Antonio-Bold.svg#Antonio-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Antonio', Arial;
    font-size: 18px;
    color: #444;
}

a {
    color: #fff200;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*** HEADER ***/

#header {
    background: rgba(0, 15, 41, 1);
    background: -moz-linear-gradient(top, rgba(0, 15, 41, 1) 0%, rgba(0, 7, 20, 1) 18%, rgba(2, 46, 74, 1) 30%, rgba(2, 46, 74, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 15, 41, 1)), color-stop(18%, rgba(0, 7, 20, 1)), color-stop(30%, rgba(2, 46, 74, 1)), color-stop(100%, rgba(2, 46, 74, 1)));
    background: -webkit-linear-gradient(top, rgba(0, 15, 41, 1) 0%, rgba(0, 7, 20, 1) 18%, rgba(2, 46, 74, 1) 30%, rgba(2, 46, 74, 1) 100%);
    background: -o-linear-gradient(top, rgba(0, 15, 41, 1) 0%, rgba(0, 7, 20, 1) 18%, rgba(2, 46, 74, 1) 30%, rgba(2, 46, 74, 1) 100%);
    background: -ms-linear-gradient(top, rgba(0, 15, 41, 1) 0%, rgba(0, 7, 20, 1) 18%, rgba(2, 46, 74, 1) 30%, rgba(2, 46, 74, 1) 100%);
    background: linear-gradient(to bottom, rgba(0, 15, 41, 1) 0%, rgba(0, 7, 20, 1) 18%, rgba(2, 46, 74, 1) 30%, rgba(2, 46, 74, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#741c1f', endColorstr='#44191a', GradientType=0);
    width: 100%;
    display: table;
}

#menu {
    width: 100%;
    display: table;
    background-color: transparent;
    position: relative;
}

.menu {
    width: 1170px;
    display: table;
    margin: auto;
    position: relative;
}

.main-menu {
    display: table;
    width: 100%;
    margin-top: 30px;
}

.main-menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-menu ul li {
    float: left;
}

.main-menu ul li a {
    padding: 3px 0;
    text-transform: uppercase;
    display: table;
    transition: all 300ms;
    font-size: 20px;
    border-bottom: 1px solid transparent;
}

.main-menu ul li a:hover {
    color: #ffc600;
    border-bottom: 1px solid #ffc600;
    text-decoration: none;
}

.main-menu ul li a.active {
    border-bottom: 1px solid #ffc600;
    text-decoration: none;
}

#menuresp {
    display: none;
}

#menuresp button {
    background-color: #F2CC30;
    border: 0;
    padding: 4px 8px 3px 8px;
    border-radius: 3px;
    color: #000;
    line-height: 1;
    cursor: pointer;
    float: right;
    margin: 10px 0;
    margin-right: 2%;
    position: relative;
    font-size: 24px;
}

#menuresp button:hover {
    background-color: #e3b104;
}

#menuresp ul {
    padding: 0;
    margin: 0;
    display: none;
    position: absolute;
    top: 50px;
    width: 100%;
    background: rgba(0,8,24,1);
	background: -moz-linear-gradient(top, rgba(0,8,24,1) 0%, rgba(1,31,56,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,8,24,1)), color-stop(100%, rgba(1,31,56,1)));
	background: -webkit-linear-gradient(top, rgba(0,8,24,1) 0%, rgba(1,31,56,1) 100%);
	background: -o-linear-gradient(top, rgba(0,8,24,1) 0%, rgba(1,31,56,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,8,24,1) 0%, rgba(1,31,56,1) 100%);
	background: linear-gradient(to bottom, rgba(0,8,24,1) 0%, rgba(1,31,56,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000818', endColorstr='#011f38', GradientType=0 );
}

#menuresp ul li {
    width: 100%;
}

#menuresp ul li a {
    text-align: center;
    text-transform: uppercase;
    transition: all 300ms;
    padding: 2px 20px;
    margin: 5px auto;
    display: table;
    border-bottom: 1px solid transparent;
}

#menuresp ul li a:hover {
    color: #FFF;
    border-bottom: 1px solid #FFF;
    text-decoration: none;
}

#slide img {
    display: table;
    margin: 0 auto -170px auto;
    max-width: 80%;
}

.marcas {
    background-color: #022e4a;
    width: 100%;
    display: table;
}

.marcas>article {
    width: 100%;
    margin: 150px auto 60px auto;
}

.marcas>article ul {
    display: table;
    margin: auto;
    padding: 0;
    list-style: none;
    text-align: center;
}

.marcas>article ul li {
    display: inline-block;
    padding: 10px 30px;
}

.periodo {
    width: 100%;
    display: table;
    background-color: #011828;
}

.periodo>article {
    width: 1170px;
    margin: 60px auto 80px auto;
}

.periodo>article h1 {
    text-align: center;
    color: #FFF;
    font-size: 40px;
    font-weight: bold;
    max-width: 890px;
    margin: 0 auto 35px auto;
}

.periodo>article h2 {
    text-align: center;
    color: #fff200;
    font-size: 36px;
    margin-bottom: 15px;
    font-weight: bold;
}

.sorteio {
    background: rgba(62, 121, 189, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(62, 121, 189, 1) 0%, rgba(2, 46, 74, 1) 70%, rgba(2, 46, 74, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(62, 121, 189, 1)), color-stop(70%, rgba(2, 46, 74, 1)), color-stop(100%, rgba(2, 46, 74, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(62, 121, 189, 1) 0%, rgba(2, 46, 74, 1) 70%, rgba(2, 46, 74, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(62, 121, 189, 1) 0%, rgba(2, 46, 74, 1) 70%, rgba(2, 46, 74, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(62, 121, 189, 1) 0%, rgba(2, 46, 74, 1) 70%, rgba(2, 46, 74, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(62, 121, 189, 1) 0%, rgba(2, 46, 74, 1) 70%, rgba(2, 46, 74, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e79bd', endColorstr='#022e4a', GradientType=1);
    width: 100%;
    display: table;
}

.sorteio h1 {
    text-transform: uppercase;
    text-align: center;
    color: #262262;
    background-color: #fff200;
    font-size: 50px;
    padding: 20px 0;
    text-shadow: 2px 2px 0 #FFF;
    font-weight: bold;
}

.sorteio>article {
    width: 1170px;
    margin: auto;
    position: relative;
}

.data-sorteio-1 {
    position: absolute;
    padding: 15px 30px;
    color: #fff200;
    background-color: #66a8de;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 36px;
    left: 50%;
    top: -5px;
    transform: translateX(-105%) rotate(3deg);
}

.data-sorteio-2 {
    position: absolute;
    padding: 15px 30px;
    color: #fff200;
    background-color: #2e3192;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 36px;
    left: 50%;
    top: 5px;
    transform: translateX(5%) rotate(-4deg);
}

.data-sorteio-1 p, .data-sorteio-2 p {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.argo {
    position: absolute;
    top: 150px;
    left: 0;
}

.argo p {
    font-size: 50px;
    color: #fff200;
    transform: rotate(-4deg);
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
    font-weight: bold;
}

.argo p b {
    font-size: 50px;
}

.img-sorteio {
	padding-top: 80px; 
    margin: 0 0 -80px 0;
}

.img-sorteio img {
    margin: auto;
    display: table;
}

.box-premios-nacionais {
    display: block;
    overflow: hidden;
    position: relative;
}

.box-premios-nacionais .sorteio-mais {
    background-color: #fff200;
    display: table;
    padding: 3px 40px;
    color: #000;
    font-size: 24px;
    border-radius: 30px 0 0 30px;
    width: 200px;
    position: absolute;
    font-weight: bold;
}
.box-premios-nacionais .sorteio-mais p {
    margin: 0;
}
.box-premios-nacionais ul {
    list-style: none;
    padding: 0;
    margin: 0 0 30px 140px;
    display: table;
    width: 100%;
}

.box-premios-nacionais ul li {
    height: 280px;
    width: calc(25% + 35px);
    background-color: #FFF;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    float: left;
    margin: 0px -40px;
    position: relative;
}
ul li .grey {
	background-color: #CACACA;
}

.box-premios-nacionais ul li .img-premio-nacional {
    width: 100%;
    height: calc(100% - 58px);
    display: table;
    background-size: 60% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.box-premios-nacionais ul li .img-premio-nacional.moto {
	background-size: 85% auto;
}

.box-premios-nacionais ul li .img-premio-nacional.notebook {
	background-size: 80% auto;
}

.box-premios-nacionais ul li span {
    background-color: #fff200;
    width: 80%;
    display: table;
    border-top: 2px solid #022e4a;
    text-align: center;
    padding: 10px 0;
    color: #000;
    font-size: 24px;
}


.data-sorteio-quinzenal-1 {
    position: absolute;
    padding: 15px 30px;
    color: #fff200;
    background-color: #66a8de;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 36px;
    left: 10px;
    top: -5px;
    transform: rotate(3deg);
}

.data-sorteio-quinzenal-2 {
    position: absolute;
    padding: 15px 30px;
    color: #fff200;
    background-color: #4070b7;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 36px;
    left: 50%;
    top: -5px;
    transform: translateX(-65%) rotate(3deg);
}

.data-sorteio-quinzenal-3 {
    position: absolute;
    padding: 15px 30px;
    color: #fff200;
    background-color: #2e3192;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    font-size: 36px;
    right: 10px;
    top: -5px;
    transform: rotate(3deg);
}

.data-sorteio-quinzenal-1 p, 
.data-sorteio-quinzenal-2 p,
.data-sorteio-quinzenal-3 p {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
}

.box-premios-quinzenais {
    display: block;
    overflow: hidden;
    position: relative;
}

.box-premios-quinzenais ul {
    list-style: none;
    padding: 0;
    margin: 130px 0 30px 40px;
    display: table;
    width: 100%;
}

.box-premios-quinzenais ul li {
    height: 280px;
    width: calc(20% + 50px);
    background-color: #FFF;
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    float: left;
    margin: 0px -34px;
    position: relative;
}

.box-premios-quinzenais ul li .img-premio-quinzenal {
    width: 100%;
    height: calc(100% - 52px);
    display: table;
    background-size: 60% auto;
    background-position: center;
    background-repeat: no-repeat;
}

.box-premios-quinzenais ul li span {
    background-color: #fff200;
    width: 80%;
    display: table;
    border-top: 2px solid #022e4a;
    text-align: center;
    padding: 10px 0;
    color: #000;
    font-size: 20px;
}

.ganhadores {
    background-color: #011828;
    width: 100%;
    display: table;
}

.ganhadores>article {
    width: 1170px;
    margin: 60px auto;
}

.ganhadores h1 {
    text-align: center;
    color: #fff200;
    font-size: 40px;
    font-weight: bold;
    margin: 0 auto 35px auto;
}

.ganhadores ul {
    display: table;
    width: 100%;
    padding: 0;
    list-style: none;
    margin: 0 auto 60px auto;
}

.ganhadores ul li {
	display: table;
    width: 100%;
    margin: 10px 0;
}

.ganhadores ul li a.btn-ganhadores {
    background-color: #fff200;
    width: 100%;
    padding: 15px 0;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    color: #262262;
    cursor: pointer;
    display: table;
    text-align: center;
}

.ganhadores ul li a.btn-ganhadores:hover {
    background-color: #ffc600;
    text-decoration: none;
}

.loading {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    height: 100vh;
    left: 0;
}

.loading i {
    color: #FFF;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: table;
    left: 50%;
    top: 50%;
    transition: linear 100ms;
    position: absolute;
}

.enviado-overlay {
    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div.enviado {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url("../../images/backenviado.jpg");
    background-size: cover;
    background-position: center;
    width: 480px;
    height: 300px;
    position: fixed;
    z-index: 9999;
    display: table;
    left: 50%;
    top: 50%;
    transition: linear 100ms;
}

div.enviado>div.fechar {
    padding: 5px;
    text-align: right;
    display: table;
    width: calc(100% - 10px);
    line-height: 1;
}

div.enviado>div.fechar i {
    cursor: pointer;
}

div.enviado h1 {
    font-family: 'fira_sans_extra_condensedSBd';
    color: #676565;
    font-size: 24px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
    text-shadow: 0 0 10px #FFF;
}

footer {
    width: 100%;
    display: table;
    margin: 0 auto;
    background-color: #011828;
}

footer p {
    text-align: center;
    padding: 10px 10px;
    color: #FFF;
}

footer h3 {
    text-align: center;
    color: #000;
    font-size: 36px;
    margin-bottom: 20px;
}

.resultado {
    background: rgba(34, 20, 20, 1);
    background: -moz-linear-gradient(left, rgba(34, 20, 20, 1) 0%, rgba(63, 23, 26, 1) 50%, rgba(34, 20, 20, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(34, 20, 20, 1)), color-stop(50%, rgba(63, 23, 26, 1)), color-stop(100%, rgba(34, 20, 20, 1)));
    background: -webkit-linear-gradient(left, rgba(34, 20, 20, 1) 0%, rgba(63, 23, 26, 1) 50%, rgba(34, 20, 20, 1) 100%);
    background: -o-linear-gradient(left, rgba(34, 20, 20, 1) 0%, rgba(63, 23, 26, 1) 50%, rgba(34, 20, 20, 1) 100%);
    background: -ms-linear-gradient(left, rgba(34, 20, 20, 1) 0%, rgba(63, 23, 26, 1) 50%, rgba(34, 20, 20, 1) 100%);
    background: linear-gradient(to right, rgba(34, 20, 20, 1) 0%, rgba(63, 23, 26, 1) 50%, rgba(34, 20, 20, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#221414', endColorstr='#221414', GradientType=1);
    width: 100%;
    height: 100vh;
    display: table;
}

.contato, .numero-sorte, .sorteios {
    background: rgba(62, 121, 189, 1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(62, 121, 189, 1) 0%, rgba(2, 46, 74, 1) 70%, rgba(2, 46, 74, 1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(62, 121, 189, 1)), color-stop(70%, rgba(2, 46, 74, 1)), color-stop(100%, rgba(2, 46, 74, 1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(62, 121, 189, 1) 0%, rgba(2, 46, 74, 1) 70%, rgba(2, 46, 74, 1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(62, 121, 189, 1) 0%, rgba(2, 46, 74, 1) 70%, rgba(2, 46, 74, 1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(62, 121, 189, 1) 0%, rgba(2, 46, 74, 1) 70%, rgba(2, 46, 74, 1) 100%);
    background: radial-gradient(ellipse at center, rgba(62, 121, 189, 1) 0%, rgba(2, 46, 74, 1) 70%, rgba(2, 46, 74, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e79bd', endColorstr='#022e4a', GradientType=1);
    width: 100%;
    display: table;
}

.contato article, .numero-sorte article {
    width: 1170px;
    margin: 80px auto;
}

.contato article p {
    text-align: center;
    color: #fff200;
    font-size: 30px;
}

.contato article h3 {
    text-transform: uppercase;
    text-align: center;
    color: #FFF;
    font-size: 36px;
    margin-bottom: 20px;
}

.contato article>div fieldset input {
    width: 100%;
    padding: 5px 12px;
    font-size: 15px;
    color: #000;
    font-family: 'fira_sans_extra_condensedRg';
    margin-bottom: 5px;
    background-color: #FFF;
    border: 0;
}

.contato article>div fieldset, .numero-sorte article>div fieldset {
    max-width: 700px;
    margin: auto;
}

.numero-sorte h3 {
    text-transform: uppercase;
    text-align: center;
    color: #fff200;
    font-size: 36px;
    margin-bottom: 20px;
}

::placeholder {
    color: #666;
    opacity: 1;
    /* Firefox */
    font-family: Arial;
}

.contato article>div fieldset textarea {
    width: 100%;
    padding: 5px 12px;
    font-size: 15px;
    color: #000;
    font-family: 'Antonio';
    margin-bottom: 5px;
    height: 140px;
    background-color: #FFF;
    border: 0;
}

.resultado article {
    margin: 80px auto;
}

.contato .btn-contato, .numero-sorte .btn-numero-sorte {
    background-color: #fff200;
    padding: 5px 20px;
    border: 0;
    border-radius: 5px;
    font-size: 15px;
    text-transform: uppercase;
    color: #262262;
    cursor: pointer;
    font-family: 'Antonio';
    width: auto;
    float: right;
    font-weight: bold;
}

.contato .btn-contato:hover, .numero-sorte .btn-numero-sorte:hover {
    background-color: #ffc600;
}

.numero-sorte div fieldset input {
    width: calc(100% - 120px);
    padding: 3px 12px;
    border: 0;
    font-size: 20px;
    color: #000;
    font-family: 'Antonio';
    margin-bottom: 5px;
    background-color: #FFF;
}

/* resultados.php*/

.resultado article h3 {
    text-transform: uppercase;
    text-align: center;
    color: #F2CC30;
    font-size: 36px;
    margin-bottom: 20px;
}

.resultado article p {
    text-align: center;
    color: #F2CC30;
    font-size: 30px;
}

#slide-result img {
    display: table;
    margin: 40px auto;
    max-width: 80%;
}

#chance {
    width: 100%;
    display: table;
    margin: 0 auto;
    height: 30px;
    background-color: #fff200;
}

#chance article {
    width: 1170px;
    margin: 30px auto;
}

#chance article h3 {
    text-transform: uppercase;
    text-align: center;
    color: #262262;
    font-size: 36px;
    margin: 20px 20%;
    font-weight: bold;
}

#footer-result {
    background: transparent;
}

#footer-result article {
    width: 1170px;
    margin: 30px auto;
}

#footer-result article p {
    color: #FFF;
    font-size: 18px;
    padding: 20px 10%;
    text-align: center;
}

.num {
    background-color: transparent;
    border: 1px solid #F2CC30;
    border-radius: 5px;
    font-size: 15px;
    color: #F2CC30;
    font-family: Arial;
    max-width: 80%;
    margin: 40px auto;
    padding: 30px;
}

.num h3 {
    font-size: 24px;
}

.topo {
    position: fixed;
    z-index: 9999;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid #FFF;
    display: none;
}

.topo a {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #011828;
    background-color: #FFF;
}

.topo a:hover {
    background-color: #011828;
    color: #FFF;
    text-decoration: none;
    transition: all 300ms;
}

.topo a i {
    vertical-align: middle;
    display: table-cell;
}

/*Sorteio*/

#sorteios article {
    width: 1170px;
    margin: 80px auto;
}

#sorteios article h3 {
    text-transform: uppercase;
    text-align: center;
    color: #fff200;
    font-size: 36px;
    margin-bottom: 20px;
}

#sorteios article>div fieldset select {
    width: 40%;
    max-width: 240px;
    padding: 5px 12px;
    font-size: 15px;
    color: #000;
    font-family: 'Antonio';
    margin-bottom: 5px;
    background-color: #FFF;
    font-size: 18px;
    display: inline-block;
    vertical-align: top;
    border: 0;
}

#sorteios article>div fieldset input {
    width: 100%;
    padding: 5px 12px;
    font-size: 15px;
    color: #000;
    font-family: 'Antonio';
    margin-bottom: 5px;
    background-color: #FFF;
    display: inline-block;
    vertical-align: top;
    border: 0;
}

#sorteios article>div fieldset select option {
    color: #000;
}

#sorteios article>div fieldset {
    display: table;
    margin: auto;
    text-align: center;
}

#sorteios h3 {
    text-transform: uppercase;
    text-align: center;
    color: #F2CC30;
    font-size: 36px;
    margin-bottom: 20px;
}

#sorteios .btn-sorteio {
    background-color: #fff200;
    padding: 5px 20px;
    border: 0;
    border-radius: 5px;
    font-size: 18px;
    text-transform: uppercase;
    color: #262262;
    cursor: pointer;
    font-family: 'Antonio';
    width: auto;
	display: inline-block;
    font-weight: bold;
    vertical-align: top;
}

#sorteios .btn-sorteio:hover {
    background-color: #ffc600;
}

#sorteios h4 {
    color: #FFF;
    font-size: 24px;
    margin: 30px auto;
    max-width: 80%;
    padding: 0 20px;
}

#sorteios .ganhador_sorteio {
    border-radius: 10px;
    background-color: #FFF;
    padding: 30px;
    max-width: 80%;
    margin: 0 auto 30px auto;
    display: table;
    width: calc(100% - 60px);
}

#sorteios .ganhador_sorteio img {
    float: right;
    max-width: 50%;
}

#sorteios .ganhador_sorteio h3 {
    color: #000;
    font-size: 30px;
    text-transform: uppercase;
}

#sorteios .ganhador_sorteio p {
    margin-bottom: 8px;
    font-size: 24px;
}

@media screen and (max-width: 1200px) {
    #slide img {
        max-width: 90%;
    }
    .main-menu {
        display: none;
    }
    #menuresp {
        display: block;
    }
    .menu, .slide, .marcas>article, .periodo article, .sorteio article, .ganhadores article, .linha, .contato article, .numero-sorte article, #chance article, #footer-result article, #sorteios article {
        width: 96%;
    }
}

@media screen and (max-width: 768px) {
    #slide img {
        margin: 0 auto -150px auto;
    }
    .marcas>article {
        margin: 120px auto 60px auto;
    }
    #participar ul li {
        width: 80%;
        display: table;
        margin: auto;
    }
    #participar ul li.next {
        width: 100%;
        margin: 40px 0;
    }
    #participar ul li.next img {
        margin: 0 auto;
        transform: rotate(90deg);
        width: 40px;
    }
    .sorteio-semana img {
        float: none;
        display: table;
        margin: 20px auto;
    }
    .sorteio-nacional .box-info, .sorteio-nacional .imagem-sorteio {
        width: 100%;
    }
    .sorteio-nacional .imagem-sorteio img {
        display: table;
        margin: auto;
    }
    .sorteio-semana .box-info ul {
        text-align: center;
    }
    .ganhadores ul {
        text-align: center;
    }
    .periodo>article h1, .ganhadores h1 {
        font-size: 30px;
    }
    .periodo>article h2, .sorteio-semana h2, .sorteio-nacional h2, .contato article h3, .numero-sorte h3 {
        font-size: 26px;
    }
    #participar ul li span, .sorteio-semana .box-info h3, .sorteio-nacional .box-info h3 {
        font-size: 20px;
    }
    .sorteio-semana .box-info ul li, .sorteio-nacional .box-info ul li {
        font-size: 16px;
    }
    .ganhadores ul li button.btn-ganhadores {
        font-size: 24px;
        padding: 10px 20px;
    }
    #chance article h3 {
        font-size: 26px;
        margin: 20px;
    }
    #footer-result article p {
        font-size: 12px;
        padding: 20px 5%;
    }
    #sorteios article h3 {
        font-size: 26px;
    }
    #sorteios .ganhador_sorteio {
        text-align: center;
    }
    #sorteios .ganhador_sorteio img {
        float: none;
        margin: 0 auto 20px auto;
    }
}

@media screen and (max-width: 480px) {
    #slide img {
        margin: 0 auto -120px auto;
    }
    .marcas>article {
        margin: 90px auto 60px auto;
    }
    .periodo>article, .sorteio>article, .ganhadores article, .contato>fieldset {
        margin: 40px auto;
    }
    #chance article h3 {
        font-size: 20px;
        margin: 10px;
    }
    .numero-sorte h3 {
        font-size: 20px;
    }
    #footer-result article p {
        font-size: 10px;
    }
    #sorteios article>div fieldset select {
        width: 100%;
        max-width: 100%;
    }
    #sorteios .ganhador_sorteio {
        max-width: 96%;
        width: 100%;
    }
}